# Ignore node_modules folder
node_modules/

# Ignore build output
build/

# Ignore logs
*.log

# Ignore temporary files and folders
*.tmp
*.swp
*.swo
*.swn
*.bak
*.orig
*.old

# Ignore operating system-specific files
.DS_Store
Thumbs.db
